<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Bienvenidos</h1>
  <p class="lead">Tercer entrega intermedia del curso de backend de Coderhouse</p>
  <hr class="my-4" />
  <p>Espero recibir una buena nota!
  </p>
</div>